/* _variables.scss */

// Colors
$green: #548c5b;
$light-green: #99bb9d;
$blue: #52b2cd;
$light-blue: #bce5f0;
$medium-blue: #5c8da7;
$purple: #8e5290;
$light-purple: #ba76bc;

$red: #b62222;
$orange: #ec9a0a;

$light-grey: #eaeaea;
$medium-grey: #bbbbbb;
$grey: #a6a6a6;
$darker-grey: #8a8a8a;
$dark-grey: #555555;

// borders
$border: rgba(black, 0.1);
$border-light: rgba(white, 0.2);

// Sizes
$padding: 2rem;
$br: 2px;

// Screen
$small: 400px;
$medium: 800px;
$large: 1200px;
