<section class="statement">

  <h3 class="title">Personal Statement</h3>
  <div>
    <p><%= resume_yml.description %></p>
    <p><%= resume_yml.stack %></p>
    <p><%= resume_yml.passion %></p>
  </div>


</section>