section.profile {

  color: $dark-grey;

  .me {
    img {
      width: 70px;
      border-radius: 50%;
      margin: 10px 0px 10px 40px;
    }
    p {
      margin: 0px;
      &:first-child {
        font-size: 28px;
        color: black;
      }
      &:last-child {
        font-size: 18px;
      }
    }
  }
  .address, .contact {
    span {
      display: block;
      border-left: solid 1px $medium-grey;
      margin-left: 80px;
      padding-left: 15px;

      &:first-child {
        float: left;
        font-style: italic;
        border: none;
        margin: 0px;
        padding: 0px;
      }
      &:nth-child(4) {
        padding-top: 5px;
      }
      img {
        padding: 5px;
        width: 45px;
      }
    }
  }
}
