section.skills {

  .legend, .skill {
    span:first-child {
      display: inline-block;
      width: 150px;
    }
  }

  .legend {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .year {
    background-color: $blue;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;

    span:first-child {
      color: $dark-grey;
    }
  }

  @media screen and (max-width: 900px) {
    .year {
      width: 5px;
      height: 5px;
    }
  }

  @media screen and (max-width: 400px) {
    .year {
      width: 3px;
      height: 3px;
    }
    .legend, .skill {
      span:first-child {
        width: 100px;
      }
    }
  }

}